<!DOCTYPE html>
<html>
<title>Stephen Boyer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/sb.css">
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-red w3-card-2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Resume</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Projects</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Resume</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Projects</a>
    </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center w3-padding-128">
    <h1 class="w3-margin w3-jumbo">Stephen Boyer</h1>
    <p class="w3-xlarge">Software Engineer</p>
    <p class="w3-large">/* Under Construction */</p>
</header>

<!-- Education -->
<div class="w3-row-padding w3-padding-16 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h2>EDUCATION</h2>
            <h5><em>Bachelor of Science, Computer Engineering</em></h5>
            <h5>University of Wyoming, Laramie, Wyoming</h5>
            <h5>August 2009 - May 2015</h5>
        </div>
        <div class="w3-third w3-center">
            <i class="fa fa-graduation-cap w3-padding-16 w3-text-red w3-margin-right"></i>
        </div>
    </div>
</div>

<!-- Experience -->
<div class="w3-row-padding w3-padding-16 w3-light-grey w3-container">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <i class="fa fa-graduation-cap w3-padding-64 w3-text-red w3-margin-right"></i>
        </div>
        <div class="w3-twothird">
            <h2>EXPERIENCE</h2>
            <ul style="list-style:none; padding-left:0">
                <li>Language I/O, Full Stack Developer</li>
                <li>Cheyenne, Wyoming</li>
                <li>May 2015 - October 2016</li>
            </ul>
            <h7>Language I/O operates a service that large companies can use to translate help articles and support
                cases to different languages. This makes it so companies can expand to other regions without hiring
                dedicated translators. Most of this is done with a Java server application on which I worked.
            </h7>
            <ul>
                <li>Worked in an agile development team tasked with maintaining and improving an enterprise Java
                    application using technologies such as Glassfish server, MySQL, J2EE, JPA, JSP, and JavaScript.
                </li>
                <li>Maintained, implemented, and designed REST APIs</li>
                <li>Utilized Java persistence libraries and MySQL to store new data</li>
                <li>Developed asynchronous web pages using JQuery</li>
            </ul>
        </div>
    </div>
</div>

<!-- Internship -->
<div class="w3-row-padding w3-padding-16 w3-white w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h2>INTERNSHIP</h2>
            <ul style="list-style:none; padding-left:0px">
                <li>Cheyenne Technology, Software Development Intern</li>
                <li>Cheyenne, Wyoming</li>
                <li>April 2013 - August 2014</li>
            </ul>
            <h7>Cheyenne Technology designs PHP-based web pages for various local clients. The Concrete5 CMS is used.
            </h7>
            <ul>
                <li>Updated websites for clients</li>
                <li>Fixed problems in Java support software</li>
                <li>Worked effectively from a remote location</li>
            </ul>
        </div>
        <div class="w3-third w3-center">
            <i class="fa fa-graduation-cap w3-padding-64 w3-text-red w3-margin-right"></i>
        </div>
    </div>
</div>

<!-- Skills -->
<div class="w3-row-padding w3-padding-16 w3-light-grey w3-container">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <i class="fa fa-graduation-cap w3-padding-16 w3-text-red w3-margin-right"></i>
        </div>
        <div class="w3-twothird">
            <h2>SKILLS</h2>
            <ul>
                <li>Technical/languages: Java (JDK 1.8, J2EE, Android), JUnit, C++, MySQL, JavaScript, Python, MATLAB</li>
                <li>Software: IntelliJ, NetBeans, Glassfish, Jira, Bitbucket, MS Office, Visual Studio</li>
                <li>Platforms: Linux (Android, Debian, RHEL), macOS, and Windows</li>
                <li>General: Troubleshooting computer and other technology issues</li>
            </ul>
        </div>
    </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
    <div class="w3-xlarge w3-padding-32">
        <a href="#" class="w3-hover-text-indigo"><i class="fa fa-facebook-official"></i></a>
        <a href="#" class="w3-hover-text-red"><i class="fa fa-pinterest-p"></i></a>
        <a href="#" class="w3-hover-text-light-blue"><i class="fa fa-twitter"></i></a>
        <a href="#" class="w3-hover-text-grey"><i class="fa fa-flickr"></i></a>
        <a href="#" class="w3-hover-text-indigo"><i class="fa fa-linkedin"></i></a>
    </div>
</footer>
<script>

</script>

</body>
</html>